<!DOCTYPE HTML>
<html>
  <head>
    <title>Socket.IO chat</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/flatly/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>

    <script type="text/javascript">
      $(window).on('load', function(){
         $('#myModal').modal('show');
      });
    </script>
  </head>

  <body>

    <div class="wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        </nav>

        <!-- Area for chat -->
        <div class="chatArea">
          <ul id="messages"></ul>
        </div>

        <!-- Active users -->
        <nav id="sidebar" class="navbar-light bg-light sidebar-right">
          <center><h1 id="currentRoom">Unknown</h1>
            <hr/>
          <center><h2>Active Users</h2></center>
          <ulid="users"></ul>
        </nav>

        <!-- Groups -->
        <nav id="groupArea" class="navbar-light bg-light sidebar-left">
          <center><h2>Groups</h2></center>
          <ul id="groups">
          </ul>
        </nav>

        <!-- Chat message entry box -->
        <form action="">
          <input class="inputBar" id="m" autocomplete="off" placeholder="Type here..." />
        </form>
        
        <!-- User login/registration -->
        <div id="myModal" class="modal fade">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Welcome</h4>
              </div>
              <div class="modal-body">
                <p>Login</p>

                <input class="usernameInput" id="usernameInput" type="text" maxlength="14" placeholder="Username"/>
                <br />
                <input class="usernameInput" id="passwordInput" type="password" onkeydown="submitLogin()" placeholder="Password" />

                <hr />

                <p>Create Account</p>

              </div>
            </div>

          </div>
        </div>

      <!-- Handling user login
        <li class="login page" id="usernamePage">
          <div class="nameForm">
            <h3 class="title">What's your nickname?</h3>
            <input class="usernameInput" id="usernameInput" type="text" maxlength="14" placeholder="Username"/>
            <br/>
            <input class="usernameInput" id="passwordInput" type="password" onkeydown="submitLogin()" placeholder="Password" />
          </div>
        </li> -->
    </div>
    <script>

      var username
      var socket = io();

      // Creating a name
      function submitLogin() {
        
        if(event.key === 'Enter') {
            
            username = $('#usernameInput').val()

            // Lets server know this users username
            socket.emit('user connect', 
              {
                username : $('#usernameInput').val(),
                password : $('#passwordInput').val()
              }
            )   
        }
      }

      function switchChatroom(chatroomName) {

        console.log(username + " wants to switch to " + chatroomName)

        $('#currentRoom').empty()
        $('#messages').empty()

        // Sets name of current room
        $('#currentRoom').append(chatroomName)

        // Joins the room
        socket.emit('switch room', chatroomName)
      }

      // Valid username/password
      socket.on('valid login', function(info){
          
          // Removes login page
          $('#myModal').modal('hide');

          // Icon path and options
          base_path = "../assets/"
          options = 'height="50" width="50"'

          // Looping through all the user's chatrooms
          for (var i = 0; i < info['chatrooms'].length; i++) {

            chatroomName = info['chatrooms'][i]
            src = base_path + chatroomName.replace(" ", "_") + '_icon.png'

            html = '<img src="' + src + '" ' + options + ' onclick="switchChatroom(this.id)" id="' + chatroomName + '" /><br />'
            console.log("Setting html- " + html)

            // Adding the possible groups to left area
            $('#groups').append($(html).text(chatroomName))
          }
      })

      // On receiving a chat message
      socket.on('chat message', function(msg){

        console.log("Adding message- " + msg)
        $('#messages').append($('<li>').text(msg))
        window.scrollTo(0, document.body.scrollHeight)
      })

      // Users logging in or out
      socket.on('user state update', function(usernames){
        $('#users').empty()

        for (var i = 0; i < usernames.length; i++) {
          $('#users').append($('<li id="' + usernames[i] + '">').text(usernames[i]))
        }
      })



      $(function () {

        // On submitting a chat message
        $('#form').submit(function(){

          socket.emit('chat message', 
            {

              username : username,
              message: $('#m').val()

            });
          $('#m').val('')
          return false
        });
      });      
    </script>
  </body>
</html>
