<!DOCTYPE HTML>
<html>
  <head>
    <title>Socket.IO chat</title>

    <!-- Imports -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../css/index.css">

    <!-- Socket.io imports -->
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/flatly/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  </head>

  <body onload='$("#loginModal").modal("show")'>

    <div class="wrapper">

        <!-- Area for chat -->
        <div class="chatArea">
          <ul id="messages"></ul>
        </div>

        <!-- Active users -->
        <nav id="sidebar" class="navbar-light bg-light sidebar-right">
          <center>
            <h1 id="currentRoom">Please select a room</h1>
            <hr/>
            <h2>Active Users</h2>
            <ul id="users"></ul>
          </center> 
        </nav>

        <!-- Groups -->
        <nav id="groupArea" class="navbar-light bg-light sidebar-left">
          <center>
            <h2>Groups</h2>
            <button type="button" class="btn btn-outline-info" onclick="$('#createModal').modal('show')">Create Group</button>
            <hr />
          </center>
          <ul id="groups">
          </ul>
        </nav>

        <!-- Chat message entry box -->
        
        <input class="inputBar" id="m" autocomplete="off" type="text" onkeydown="sendMessage(this)" placeholder="Type here..." />
        
        
        <!-- User login/registration -->
        <div id="loginModal" class="modal fade" data-backdrop="static">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Welcome</h4>
              </div>
              <div class="modal-body">
                <p>Login</p>

                <input class="usernameInput" id="usernameInput" type="text" maxlength="14" placeholder="Username"/>
                <br />
                <br />
                <input class="usernameInput" id="passwordInput" type="password" placeholder="Password" />
                <br />
                <button onclick="submitLogin()" class="btn btn-outline-success" style="position:relative; top : 5px;">Submit</button>

                <hr />

                <p>Create Account</p>
                <input class="usernameInput" id="usernameCreate" type="text" maxlength="14" placeholder="Username"/>
                <p id="userExists" style="color : red; display : none;">Username taken</p>
                <br />
                <br />
                <input class="usernameInput" id="passwordCreate" type="password" placeholder="Password" />
                <input class="usernameInput" id="passwordCreateRe" type="password" placeholder="Re-type password" />
                <p id="passMatch" style="color : red; display : none;">Passwords do not match</p>
                <br />
                <button onclick="createAccount()" class="btn btn-outline-success" style="position:relative; top : 5px;">Create</button>

              </div>
            </div>

          </div>
        </div>

        <!-- Group creation -->
        <div id="createModal" class="modal fade">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Create a Group</h4>
              </div>
              <div class="modal-body">
                <p>Name</p>

                <input class="usernameInput" id="newGroupName" type="text" maxlength="14" placeholder="Group name"/>
                <br />
                <input type="file" id="newGroupIcon">
                <br />
                <button onclick="createGroup()" id="makeGroup" class="btn btn-outline-success" style="position:relative; top : 5px;">Create</button>
              </div>
            </div>

          </div>
        </div>
    </div>
    <script>

      var username
      var currentRoom
      var isAdmin
      var socket = io()

      // Creating a name
      function submitLogin() {
        
        username = $('#usernameInput').val()

        // Lets server know this users username
        socket.emit('user connect', 
          {
            'username' : $('#usernameInput').val(),
            'password' : $('#passwordInput').val()
          }
        )   
      }

      // Handles account creation
      function createAccount() {

        // Getting fields
        usernameLocal = $('#usernameCreate').val()
        password = $('#passwordCreate').val()
        passwordRe = $('#passwordCreateRe').val()

        // If pasword retype matches
        if (password != passwordRe){

          // Show error
          $('#passMatch').show()
          $('#userExists').hide()
          return false
        }

        else{

          $('#passMatch').hide()
        }

        socket.emit('create account', 
        {
          'username' : usernameLocal,
          'password' : password
        })
      }

      function createGroup() {

        file = document.getElementById('newGroupIcon').files[0]

        socket.emit('create group', {
          'groupname' : $('#newGroupName').val(),
          'icon' : file
        })
      }

      // Switching between different chatrooms
      function switchChatroom(chatroomName) {

        // Clears the name of the current room and its messages
        $('#currentRoom').empty()
        $('#messages').empty()

        // Sets name of current room
        $('#currentRoom').append(chatroomName)

        currentRoom = chatroomName

        // Joins the room
        socket.emit('switch room', chatroomName)
      }

      // On submitting a chat message
      function sendMessage(ele) {

        // Enter hit for message send
        if(event.key === 'Enter') {

          // Parsing $ commands
          var message = $('#m').val()

          if (message[0] == '$'){
            $('#m').val('')
            handleCommand(message.substring(1))
            return
          }

          // Sending the message
          socket.emit('chat message', 
            {

              'username' : username,
              'message': message

            });

          // Clearing message from input bar
          $('#m').val('')
          return false
        }     
      }

      function handleCommand(message) {

        var res = {
          'username' : 'AUTO'
        }

        var splitMsg = message.split(" ")

        if (splitMsg[0] == "help") {

          res['message'] = "$help- Displays this message"
          addMessage(res)

          res['message'] = "$kick {username}- Kicks a person from the chat"
          addMessage(res)

          res['message'] = "$add {username}- Adds a person to the chat"
          addMessage(res)
        }

        else if (splitMsg[0] == "kick") {

          var userToKick = splitMsg[1]
          res['message'] = `Kicking ${userToKick}...`
          addMessage(res)
        }

        else if (splitMsg[0] == "add") {

          var userToAdd = splitMsg[1]
          res['message'] = `Adding ${userToAdd} to ${currentRoom}...`
          addMessage(res)
          socket.emit('add to room', {
            'username' : userToAdd,
            'roomName' : currentRoom
          })
        }

        else {

          res['message'] = "Unknown command, type $help for help"
          addMessage(res)
        }
        
      }

      function addMessage(info) {

        color = "style="

        if (info['username'] == username) {
          color += '"color : green;"'
        }

        else{
          color += '"color : black;"'
        }

        html = `<li><p ${color}>${info['username']}- </p><p>${info['message']}</p></li><hr />`

        $('#messages').append(html)
        window.scrollTo(0, document.body.scrollHeight)
      }

      socket.on('create account response', function(res){

        if (res == "username exists") {

          $('#userExists').show()
        }

        if (res == "success") {

          console.log('Successfully created a new user account')

          $('#userExists').hide()
          $('#passMatch').hide()

          username = $('#usernameCreate').val()

          console.log("Sending user connect message with values " + $('#usernameCreate').val() + " and " + $('#passwordCreate').val())

          socket.emit('user connect', 
          {
            'username' : $('#usernameCreate').val(),
            'password' : $('#passwordCreate').val()
          }
        )   
        }
      })

      // Response for group creation
      socket.on('create group response', function(res){

        // TODO
        if (res != 'success'){

          console.log("Did not successfully createa a new group")
          return
        }

        // Hiding modal and handling page refresh
        console.log("Successfully created a new group")
        $('#createModal').modal('hide');


      })

      // Valid username/password
      socket.on('valid login', function(info){
          
        $('#groups').empty()

        // Removes login page
        $('#loginModal').modal('hide')

        // Icon path and options
        base_path = "../assets/"
        options = 'height="50" width="50" onclick="switchChatroom(this.id)"'

        // Looping through all the user's chatrooms
        for (var i = 0; i < info['chatrooms'].length; i++) {

          chatroomName = info['chatrooms'][i]
          src = base_path + chatroomName.replace(" ", "_") + '_icon.png'

          html = `<img src="${src}" ${options} id="${chatroomName}" /><h4>${chatroomName}</h4><hr />`

          // Adding the possible groups to left area
          $('#groups').append(html)
        }
      })

      // On receiving a chat message
      socket.on('chat message', function(info){

        addMessage(info)
      })

      // Users logging in or out
      socket.on('user state update', function(usernames){

        // Clearing active users
        $('#users').empty()

        // Adding the users
        for (var i = 0; i < usernames.length; i++) {
          $('#users').append($('<h4 id="' + usernames[i] + '">').text(usernames[i]))
        }
      })
    </script>
  </body>
</html>
