<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>

  <body>

<div class="container-fluid d-flex flex-column">

    <!-- Top banner -->
    <div>
    <nav class="navbar fixed-top bg-secondary d-block">
      <div class="navbar-text font-weight-bold text-white float-left" id="banner-content">
          Discord 2.0 <i class="fa fa-comments-o"></i>
      </div>
    </nav>
  </div>

        <div class="chat page row vh-100 d-none">

        <!-- Groups -->
        <div class="groupArea col-sm-3 bg-secondary">
          <h3 class="bg-dark text-light p-3 shadow rounded"> Groups <button class="btn btn-secondary float-right">
              <i class="fa fa-plus"></i>
            </button></h3>
            <div class="card">
          <center>
            <ul id="groups">
            </ul>
          </center>
        </div>
        </div>

        <!-- Area for chat -->
        <div class="col-sm-7">
          <div class="chatArea rounded">
            <div class="bg-light shadow">
              <h1 class="pl-3 py-2 rounded" id="currentRoom"></h1>
            </div>
            <ul id="messages"></ul>
          </div>
        <!-- Chat message entry box -->
          <form action="">
            <input class="inputMessage form-control align-bottom" id="m" autocomplete="off" placeholder="Type here..." />
          </form>
        </div>
        <!-- Active users -->
        <div class="active col-sm-2 bg-secondary">
          <h3 class="text-light bg-dark shadow rounded p-3">Active Users <i class="fa fa-circle color text-success pl-sm-1 shadow"></i></h3>
          <div class="overflow-auto">
            <ul class="users" id="users"></ul>
          </div>
        </div>
        </div>

      
      
      <!-- Handling user login -->
    <div class="row bg-dark vh-100 vw-100 position-fixed" id="usernamePage">
      <div class="col-sm-3"></div>
      <div class="login page col-sm-6 text-center text-light align-self-center">
        <div class="nameForm">
          <h3 class="title">Welcome to Discord 2.0!</h3>
          <input class="usernameInput" id="usernameInput" type="text" maxlength="14" placeholder="Username"/>
          <br/>
          <input class="usernameInput" id="passwordInput" type="password" onkeydown="submitLogin()" placeholder="Password" />
          <br/>
          <button class="btn btn-secondary my-4" onclick="submitLoginButton()">Submit</button>
          <p>
            or create an account <button class="link font-italic text-light bg-transparent border-0 m-0 p-0" id="registerLink" onmouseover="textHover()" onmouseout="stopHover()" onclick="toRegister()">here.</button>
          </p>
        </div>
      </div>
      <div class="col-sm-3"></div>
    </div>

      <!-- Handling user registration -->
      <div class="row bg-dark vh-100 vw-100 position-fixed d-none" id="registerPage">
        <div class="col-sm-3"></div>
        <div class="register page col-sm-6 text-center text-light align-self-center">
          <div class="nameForm">
            <h3 class="title">Create an account</h3>
            <input class="usernameInput" id="registerUsername" type="text" maxlength="14" placeholder="Username"/>
            <br/>
            <input class="usernameInput" id="registerPassword" type="password" onkeydown="submitRegister()" placeholder="Password" />
            <br/>
            <button class="btn btn-secondary my-4" onclick="submitRegister()">Submit</button>
            <p>
            Already have an account? <button class="link font-italic text-light bg-transparent border-0 m-0 p-0" id="loginLink" onmouseover="textHover()" onmouseout="stopHover()" onclick="toLogin()">Log in!</button>
          </p>
          </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
    
  </div>
    
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>

      var username
      var socket = io();

      // Logging in by key press
      function submitLogin() {
        if(event.key === 'Enter') {
            
            username = $('#usernameInput').val()

            // Lets server know this users username
            socket.emit('user connect', 
              {
                username : $('#usernameInput').val(),
                password : $('#passwordInput').val()
              }
            )   
        }
      }

      // Logging in by button press
      function submitLoginButton() {
            username = $('#usernameInput').val()

            // Lets server know this users username
            socket.emit('user connect', 
              {
                username : $('#usernameInput').val(),
                password : $('#passwordInput').val()
              }
            )   
      }

      // Registration page to login page
      function toLogin() {
        $('#registerPage').fadeOut('slow')
        $('#usernamePage').show()
        $('#registerPage').addClass('d-none')
      }

      // Creating account
      function toRegister() {
        $('#usernamePage').fadeOut('slow')
        $('#registerPage').removeClass('d-none')
      }

      function submitRegister(){

      }

      // Change text color when hovering over
      function textHover() {
        $('.link').removeClass('text-light')
        $('.link').addClass('text-secondary')
      }

      // Return text to original color
      function stopHover() {
        $('.link').removeClass('text-secondary')
        $('.link').addClass('text-light')
      }

      function switchChatroom(chatroomName) {

        console.log(username + " wants to switch to " + chatroomName)

        $('#currentRoom').empty()
        $('#messages').empty()

        // Sets name of current room
        $('#currentRoom').append(chatroomName)

        // Joins the room
        socket.emit('switch room', chatroomName)
      }

      // Valid username/password
      socket.on('valid login', function(info){
          
          // Icon path and options
          base_path = "../assets/"
          options = 'height="50" width="50"'

          // Looping through all the user's chatrooms
          for (var i = 0; i < info['chatrooms'].length; i++) {

            chatroomName = info['chatrooms'][i]
            src = base_path + chatroomName.replace(" ", "_") + '_icon.png'

            html = '<img src="' + src + '" ' + options + ' onclick="switchChatroom(this.id)" id="' + chatroomName + '" /><br />'
            console.log("Setting html- " + html)

            // Adding the possible groups to left area
            $('#groups').append($(html).text(chatroomName))
          }

          // Removes login page
          $('#usernamePage').fadeOut('slow')
          $('.chat.page').removeClass('d-none')

      })

      // On receiving a chat message
      socket.on('chat message', function(msg){

        $('#messages').append($('<li>').text(msg))
        window.scrollTo(0, document.body.scrollHeight)
      })

      // Users logging in or out
      socket.on('user state update', function(usernames){
        $('#users').empty()

        for (var i = 0; i < usernames.length; i++) {
          $('#users').append($('<li id="' + usernames[i] + '">').text(usernames[i]))
        }
      })



      $(function () {

        // On submitting a chat message
        $('form').submit(function(){

          msg = $('#m').val()

          $('#m').val('')

          socket.emit('chat message', 

            {

              username : username,
              message: msg

            });

          return false
        });
      });          
    </script>
  </body>
</html>
