body {
  padding-top: 3.7%;
  height: 100%;
}

.container-fluid {
  height: 100%;
  min-height: 100%;
}

.fa-circle {
text-shadow: 0px 0px 7px #f0f0f0; /* horizontal vertical blur colour */
}

/* Login page */

.login.page .nameForm {
  height: 100px;
  margin-bottom: 40%;
}

.login.page .nameForm .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #fff;
  font-weight: 100;
}

/* Registration page */

.register.page .nameForm {
  height: 100px;
  margin-bottom: 40%;
}

.register.page .nameForm .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.register.page .title {
  font-size: 200%;
}

.register.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.register.page .title, .register.page .usernameInput {
  color: #fff;
  font-weight: 100;
}