.sidebar-left {
    min-width: 260px;
    max-width: 260px;
    min-height: 100vh;
    position : absolute;
    left: 0;
}

.sidebar-right {
  min-width: 260px;
  max-width: 260px;
  min-height: 100vh;
  position : absolute;
  right: 0;

}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.inputBar 
{
  position:absolute;
  width:500px;
  height:50px;
  margin-left:-250px;
  bottom:0px;
  left:50%;
}