.sidebar-left {
    min-width: 300px;
    max-width: 300px;
    min-height: 100vh;
    position : absolute;
    left: 0;
}

.sidebar-right {
  min-width: 300px;
  max-width: 300px;
  min-height: 100vh;
  position : absolute;
  right: 0;

}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.inputBar 
{
  position: absolute;
  width:40%;
  height:45px;
  bottom: 2%;
  margin-left: 4%;
}

::placeholder {
  opacity: .5;
}

.navbar {
  width: 100%;
}

.chatArea {
  margin: auto;
  width: 50%;
  padding-top: 25px;
  display: inline;
  height: 100%;
}

ul {
  list-style-type: none;
}

#messages {
  height: 85%;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  overflow-y: auto;
}

#groupArea {
  height: 100%
}

#groups {
  height: 70%;
  width: 100%;
  position: absolute;
  overflow-y: auto;
  margin-left: -7%;
}

#sidebar {
  height: 100%
}

#users {
  height: 70%;
  width: 100%;
  position: absolute;
  overflow-y: auto;
}

::-webkit-scrollbar { 
    display: none; 
}

html, body {
  height: 100%;
  margin: 0;
}

html * {
  font-family: 'Poppins', sans-sarif !important;
}

#m {
  border-radius: 50px;
}

.groupItem {
  border-radius: 10px;
  height: 14%;
  background-color: white;
}

.row {
  height: 100%;
}

.groupImage {
  width: 100%;
  padding-top: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}
